<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


<button (click)="getProd()">Show Data</button>

<table class="table" align='center'>
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">ID</th>
      <th scope="col">CatID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Description</th>
      <th scope="col">Category Name</th>
      <th></th>
    </tr> 
  </thead>
  <tbody>
    <tr  scope="row" *ngFor = 'let lst of data'>
      <td></td> 
      <td>{{lst.id}}</td>
      <td>{{lst.catid}}</td>
      <td>{{lst.pname}}</td>
      <td>{{lst.price}}</td>
      <td>{{lst.quantity}}</td>
      <td>{{lst.description}}</td>
      <td>{{lst.result}}</td>
      <td (click)="del(lst.id)" > <button (click)="del(lst.id)" >Delete</button> </td>
    </tr> 
  </tbody>   
  </table>
<br><br><br><br><br>
<form action="">
  <table>
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">CatID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Description</th>
      </tr> 
    </thead>
    <tbody>
      <td></td>
      <td><input type="text" id="catid" placeholder="CatID"></td>
      <td><input type="text" id="pname" placeholder="Product Name"></td>
      <td><input type="text" id="price" placeholder="Price"></td>
      <td><input type="text" id="quantity" placeholder="Quantity"></td>
      <td><input type="text" id="description" placeholder="Description"></td>
    </tbody>
  </table>
  <button class="btn-primary align-center" (click)="sendData()">Send Data</button>
</form>